{% extends 'base.html.twig' %}

{% block title %}Page formations{% endblock %}

 {% block entete %}
 		<div class="card">
		  <div class="card-header">
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<h1> Cette page affichera la liste des formations de l'IUT </h1>
				</blockquote>
			</div>
		  </div>
		</div>
 {% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    	{%for formation in formations%}
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <h5 class="card-title">Intitule : {{formation.intitule}}</h5>
				  <p class="card-text">Etablissement d'accueil : {{formation.etablissementAccueil}}</p>
				  <p class="card-text">Niveau : {{formation.niveau}}</p>
				  <p class="card-text">Ville de formation : {{formation.villeFormation}}</p>
				  <a href="{{path('prostages_formations_stage',{'id' : formation.id})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		{%endfor%}
    </div>
</div>

{% endblock %}