{% extends 'base.html.twig' %}

{% block title %}Page accueil Bienvenue{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block body %}

<h1> Bienvenue sur la page d'accueil de Prostages </h1>

<!-- Exemple de carte pour le stage d'id 5 -->

<div class="container-fluid">
  <div class="row">
  
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <p class="card-title">[Bloc haut à gauche]</p>
				  <h5 class="card-title">unTitre : Développement page accueil site Prostages</h5>
				  <p class="card-text">unDomaine : Développement Web</p>
				  <p class="card-text">desDates : 19/09/2020-25/11/2020</p>
				  <p class="card-text">uneDescription : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id elit at tortor volutpat tempus at in sapien. Nunc euismod placerat bibendum. 
				  In lacus lorem, fermentum vel risus ac, pretium convallis erat. Fusce nisi felis, commodo non interdum bibendum, gravida vel neque. Fusce viverra pretium finibus. 
				  Sed tellus urna, semper nec diam in, accumsan gravida felis. Duis euismod eget arcu eget mollis. Fusce sed arcu urna. Integer ac magna vel nisi tempus dictum.</p>
				  <p class="card-text">unEmail : johnd@johndoe.com</p>
				  <p class="card-text">desCompétencesRequises : HTML5/CSS3, PHP, Javascript</p>
				  <a href="{{path('prostages_stages',{id:5})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <p class="card-title">[Bloc haut au milieu]</p>
				  <h5 class="card-title">unTitre : Développement page accueil site Prostages</h5>
				  <p class="card-text">unDomaine : Développement Web</p>
				  <p class="card-text">desDates : 19/09/2020-25/11/2020</p>
				  <p class="card-text">uneDescription : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id elit at tortor volutpat tempus at in sapien. Nunc euismod placerat bibendum. 
				  In lacus lorem, fermentum vel risus ac, pretium convallis erat. Fusce nisi felis, commodo non interdum bibendum, gravida vel neque. Fusce viverra pretium finibus. 
				  Sed tellus urna, semper nec diam in, accumsan gravida felis. Duis euismod eget arcu eget mollis. Fusce sed arcu urna. Integer ac magna vel nisi tempus dictum.</p>
				  <p class="card-text">unEmail : johnd@johndoe.com</p>
				  <p class="card-text">desCompétencesRequises : HTML5/CSS3, PHP, Javascript</p>
				  <a href="{{path('prostages_stages',{id:5})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <p class="card-title">[Bloc haut à droite]</p>
				  <h5 class="card-title">unTitre : Développement page accueil site Prostages</h5>
				  <p class="card-text">unDomaine : Développement Web</p>
				  <p class="card-text">desDates : 19/09/2020-25/11/2020</p>
				  <p class="card-text">uneDescription : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id elit at tortor volutpat tempus at in sapien. Nunc euismod placerat bibendum. 
				  In lacus lorem, fermentum vel risus ac, pretium convallis erat. Fusce nisi felis, commodo non interdum bibendum, gravida vel neque. Fusce viverra pretium finibus. 
				  Sed tellus urna, semper nec diam in, accumsan gravida felis. Duis euismod eget arcu eget mollis. Fusce sed arcu urna. Integer ac magna vel nisi tempus dictum.</p>
				  <p class="card-text">unEmail : johnd@johndoe.com</p>
				  <p class="card-text">desCompétencesRequises : HTML5/CSS3, PHP, Javascript</p>
				  <a href="{{path('prostages_stages',{id:5})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <p class="card-title">[Bloc bas à gauche]</p>
				  <h5 class="card-title">unTitre : Développement page accueil site Prostages</h5>
				  <p class="card-text">unDomaine : Développement Web</p>
				  <p class="card-text">desDates : 19/09/2020-25/11/2020</p>
				  <p class="card-text">uneDescription : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id elit at tortor volutpat tempus at in sapien. Nunc euismod placerat bibendum. 
				  In lacus lorem, fermentum vel risus ac, pretium convallis erat. Fusce nisi felis, commodo non interdum bibendum, gravida vel neque. Fusce viverra pretium finibus. 
				  Sed tellus urna, semper nec diam in, accumsan gravida felis. Duis euismod eget arcu eget mollis. Fusce sed arcu urna. Integer ac magna vel nisi tempus dictum.</p>
				  <p class="card-text">unEmail : johnd@johndoe.com</p>
				  <p class="card-text">desCompétencesRequises : HTML5/CSS3, PHP, Javascript</p>
				  <a href="{{path('prostages_stages',{id:5})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <p class="card-title">[Bloc bas au milieu]</p>
				  <h5 class="card-title">unTitre : Développement page accueil site Prostages</h5>
				  <p class="card-text">unDomaine : Développement Web</p>
				  <p class="card-text">desDates : 19/09/2020-25/11/2020</p>
				  <p class="card-text">uneDescription : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id elit at tortor volutpat tempus at in sapien. Nunc euismod placerat bibendum. 
				  In lacus lorem, fermentum vel risus ac, pretium convallis erat. Fusce nisi felis, commodo non interdum bibendum, gravida vel neque. Fusce viverra pretium finibus. 
				  Sed tellus urna, semper nec diam in, accumsan gravida felis. Duis euismod eget arcu eget mollis. Fusce sed arcu urna. Integer ac magna vel nisi tempus dictum.</p>
				  <p class="card-text">unEmail : johnd@johndoe.com</p>
				  <p class="card-text">desCompétencesRequises : HTML5/CSS3, PHP, Javascript</p>
				  <a href="{{path('prostages_stages',{id:5})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <p class="card-title">[Bloc bas à droite]</p>
				  <h5 class="card-title">unTitre : Développement page accueil site Prostages</h5>
				  <p class="card-text">unDomaine : Développement Web</p>
				  <p class="card-text">desDates : 19/09/2020-25/11/2020</p>
				  <p class="card-text">uneDescription : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id elit at tortor volutpat tempus at in sapien. Nunc euismod placerat bibendum. 
				  In lacus lorem, fermentum vel risus ac, pretium convallis erat. Fusce nisi felis, commodo non interdum bibendum, gravida vel neque. Fusce viverra pretium finibus. 
				  Sed tellus urna, semper nec diam in, accumsan gravida felis. Duis euismod eget arcu eget mollis. Fusce sed arcu urna. Integer ac magna vel nisi tempus dictum.</p>
				  <p class="card-text">unEmail : johnd@johndoe.com</p>
				  <p class="card-text">desCompétencesRequises : HTML5/CSS3, PHP, Javascript</p>
				  <a href="{{path('prostages_stages',{id:5})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		
		
    </div>
</div>


{% endblock %}

{% block footer %}{% endblock %}
