{% extends 'base.html.twig' %}

{% block title %}Page accueil Bienvenue{% endblock %}

{% block body %}

<h1> Bienvenue sur la page d'accueil de Prostages </h1>

<!-- Exemple de carte pour le stage d'id 5 -->

<div class="container-fluid">
  <div class="row">
  		{%for stage in stages%}
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <h5 class="card-title">Titre : {{stage.titre}} </h5>
				  <p class="card-text">Domaine : {{stage.domaine}}</p>
				  <p class="card-text">Durée : {{stage.duree}}</p>
				  <p class="card-text">Dates : {{stage.dateDebut | date("d/m/Y")}}</p>
				  <p class="card-text">Date de fin : {{stage.dateFin | date("d/m/Y")}}</p>
				  <p class="card-text">Email : {{stage.email}}</p>
				  <p class="card-text">Entreprise : </p>
				  <a href="{{path('prostages_stages',{'id' : stage.id})}}" class="btn btn-primary">Plus de détails</a>
				</div>
			</div>
		</div>
		{%endfor%}
    </div>
</div>


{% endblock %}

